<!-- templates\registry\attrs\task\supportScenarioText -->
<%
let params = {
  url: `${module}/api/supportScenario@crm-ru/`
};
%>
<div class="form-group <%= cssFromTags(field) %>">
  <label class="col-md-2 col-sm-3 control-label"><%= field.caption %></label>
  <div class="col-md-10 col-sm-9">

    <div id="<%- id %>" class="form-control-static loadable scenario-attr"
         data-params="<%= JSON.stringify(params) %>">

      <div class="attr-overlay overlay">
        <span class="fa fa-refresh fa-spin"></span>
      </div>

      <div class="attr-content">
      </div>

      <div class="default-content hidden">
        <div class="mb10">Для отображения сценария необходимо выбрать предмет поддержки из списка выше.</div>
      </div>

    </div>
    <p class="error-block"></p>
  </div>
</div>

<% stylesheet(`${module}/crm-static/css/styles.css`) -%>
<% script(`${module}/crm-static/js/scripts.js`) -%>

<script>
  $(document.body).on('js:common:ready', function () {
    $(document.getElementById('<%- id %>')).each(function () {
      var $attr = $(this);
      var $form = $attr.closest('form');
      var params = $attr.data('params');
      var $support = $form.find('[name="support"]');
      var $content = $attr.find('.attr-content');
      var $defaultContent = $attr.find('.default-content');
      var xhr;

      $support.change(loadScenario);

      loadScenario();

      function loadScenario () {
        xhr && xhr.abort();
        var id = $support.data('id');
        if (!id) {
          return $content.html($defaultContent.html());
        }
        $attr.addClass('loading');
        xhr = $.get(params.url + id).done(function (data) {
          data = data && data.scenario;
          $content.html(data || '<span class="placeholder">- нет данных -</span>');
          $attr.removeClass('loading');
        });
      }
    });
  });
</script>